html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Fonts */
/*Colors*/
/* Centering for nav */
/* Reset for links */
/* Background Image */
/* Border on Main */
/* Centering for Main */
/* Paragraph */
/* Image Rows */
nav {
  height: 3vh;
  width: 35%;
  margin: 2%;
  display: flex;
  justify-content: space-evenly;
}
nav a {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: black;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  font-family: 'Spartan', sans-serif;
  padding: 1.2%;
  width: 25%;
}
nav a:hover {
  background-color: #757c57;
  border-radius: 10px;
  color: white;
}
html {
  font-size: 62.5%;
}
.TopOfPage {
  background-color: #fff9ef;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  color: #757c57;
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5rem;
  padding: 3%;
}
main {
  background-image: url('../photos/nathan-fertig-U8zsjmKA840-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 69vh;
}
main h2 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 1.5rem;
  font-size: 6rem;
  color: black;
  text-align: center;
  width: 76%;
  background: rgba(158, 150, 135, 0.25);
}
main p {
  width: 75%;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: black;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  font-size: 1.5rem;
  padding: 0% 3% 1%;
  width: 70%;
  background: rgba(158, 150, 135, 0.25);
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45vh;
}
.row .welcome {
  height: 20vh;
  margin: 0% 1% 1% 2%;
}
.row .welcome h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  width: 50%;
  padding: 2%;
  color: #757c57;
}
.row .welcome p {
  padding: 1% 2%;
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
}
.row .welcome .buttonParent {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin: 2% 40%;
  padding: 1%;
  width: 15%;
}
.row .welcome .buttonParent a {
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
}
.row .welcome .buttonParent:hover {
  background-color: #B1AD74;
  border: none;
}
.row img {
  justify-content: flex-end;
  width: 35%;
  height: 45vh;
}
footer {
  background-color: #757c57;
  height: 9vh;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  color: #fff9ef;
}
.appSummary {
  background-color: #B1AD74;
  height: 30vh;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 2% 5%;
}
.appSummary h2 {
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #fff9ef;
}
.appSummary p {
  font-family: 'Spartan', sans-serif;
  color: #fff9ef;
  font-size: 1.5rem;
  line-height: 4rem;
}
.succulents img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.planOne,
.planTwo {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3% 0% 0%;
  padding: 2%;
}
.planOne h3,
.planTwo h3 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}
.planOne p,
.planTwo p {
  font-family: 'Spartan', sans-serif;
  font-size: 2rem;
  margin: 1%;
}
.buttonParentTwo {
  background-color: #757c57;
  width: 20%;
  padding: 2%;
  text-align: center;
  margin: 0% 38%;
}
.buttonParentTwo a {
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: #fff9ef;
  font-size: 2rem;
  font-family: 'Spartan', sans-serif;
}
