html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Fonts */
/*Colors*/
/* Centering for nav */
/* Reset for links */
/* Background Image */
/* Border on Main */
/* Centering for Main */
/* Paragraph */
/* Image Rows */
/* About Buttons */
/* Animation */
nav {
  height: 3vh;
  width: 35%;
  margin: 2%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width:1023px) {
  nav {
    width: 50%;
  }
}
@media (max-width:500px) {
  nav {
    width: 60%;
    height: 2vh;
  }
}
nav a {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: black;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  font-family: 'Spartan', sans-serif;
  padding: 1.2%;
  width: 25%;
}
nav a:hover {
  background-color: #757c57;
  border-radius: 10px;
  color: white;
}
@media (max-width:1023px) {
  nav a {
    font-size: 0.5rem;
  }
}
@media (max-width:500px) {
  nav a {
    font-size: 0.5rem;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  font-size: 62.5%;
}
.TopOfPage {
  background-color: #fff9ef;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  color: #757c57;
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5rem;
  padding: 3%;
}
@media (max-width:1023px) {
  header {
    font-size: 2rem;
  }
}
main {
  background-image: url('../photos/nathan-fertig-U8zsjmKA840-unsplash (1).jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 49vh;
}
@media (max-width:1023px) {
  main {
    height: 25vh;
  }
}
@media (max-width:500px) {
  main {
    height: 20vh;
  }
}
main h2 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 1.5rem;
  font-size: 6rem;
  color: black;
  text-align: center;
  width: 76%;
  background: rgba(158, 150, 135, 0.25);
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@media (max-width:1023px) {
  main h2 {
    font-size: 2.5rem;
  }
}
@media (max-width:500px) {
  main h2 {
    font-size: 1.5rem;
  }
}
main p {
  width: 75%;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: black;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  font-size: 1.3rem;
  padding: 0% 3% 1%;
  width: 70%;
  background: rgba(158, 150, 135, 0.25);
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@media (max-width:1023px) {
  main p {
    font-size: 1rem;
    line-height: 2rem;
  }
}
@media (max-width:500px) {
  main p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45vh;
}
@media (max-width:1023px) {
  .row {
    height: 25vh;
  }
}
@media (max-width:500px) {
  .row {
    height: 15vh;
  }
}
.row .welcome {
  height: 20vh;
  margin: 0% 1% 1% 2%;
}
@media (max-width:500px) {
  .row .welcome {
    height: 12vh;
  }
}
.row .welcome h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  width: 50%;
  padding: 2%;
  color: #757c57;
}
@media (max-width:1023px) {
  .row .welcome h2 {
    font-size: 1.7rem;
  }
}
@media (max-width:500px) {
  .row .welcome h2 {
    font-size: 1.2rem;
  }
}
.row .welcome p {
  padding: 1% 2%;
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
}
@media (max-width:1023px) {
  .row .welcome p {
    font-size: 1.1rem;
  }
}
@media (max-width:500px) {
  .row .welcome p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0% 0% 4%;
  }
}
.row .welcome .buttonParent {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin: 2% 40%;
  padding: 1%;
  width: 15%;
}
@media (max-width:1023px) {
  .row .welcome .buttonParent {
    width: 20%;
  }
}
@media (max-width:500px) {
  .row .welcome .buttonParent {
    width: 30%;
    margin: 1% 33%;
  }
}
.row .welcome .buttonParent a {
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
}
@media (max-width:1023px) {
  .row .welcome .buttonParent a {
    font-size: 0.5rem;
  }
}
.row .welcome .buttonParent:hover {
  background-color: #B1AD74;
  border: none;
}
.row img {
  justify-content: flex-end;
  width: 35%;
  height: 45vh;
  object-fit: cover;
}
@media (max-width:1023px) {
  .row img {
    height: 25vh;
  }
}
@media (max-width:500px) {
  .row img {
    height: 15vh;
  }
}
footer {
  background-color: #757c57;
  height: 9vh;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  color: #fff9ef;
}
@media (max-width:1023px) {
  footer {
    height: 4vh;
    font-size: 1rem;
  }
}
@media (max-width:500px) {
  footer {
    height: 2vh;
    font-size: 0.8rem;
  }
}
.appSummary {
  background-color: #B1AD74;
  height: 30vh;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 2% 5%;
}
@media (max-width:500px) {
  .appSummary {
    height: 20vh;
  }
}
.appSummary h2 {
  font-family: 'Spartan', sans-serif;
  font-size: 3rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #fff9ef;
}
@media (max-width:500px) {
  .appSummary h2 {
    font-size: 1.3rem;
  }
}
.appSummary p {
  font-family: 'Spartan', sans-serif;
  color: #fff9ef;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  line-height: 4rem;
}
@media (max-width:1023px) {
  .appSummary p {
    font-size: 1.3rem;
    line-height: 3rem;
  }
}
@media (max-width:500px) {
  .appSummary p {
    font-size: 1rem;
    line-height: 2rem;
  }
}
.appSummary h4 {
  font-family: 'Spartan', sans-serif;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  text-align: center;
}
@media (max-width:1023px) {
  .appSummary h4 {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}
@media (max-width:500px) {
  .appSummary h4 {
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }
}
.succulents img {
  width: 100%;
  height: 31vh;
  object-fit: cover;
}
@media (max-width:500px) {
  .succulents img {
    height: 15vh;
  }
}
.planRow {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 3%;
}
.planRow .planOne,
.planRow .planTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  padding: 1%;
}
.planRow .planOne h3,
.planRow .planTwo h3 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}
@media (max-width:500px) {
  .planRow .planOne h3,
  .planRow .planTwo h3 {
    font-size: 2rem;
  }
}
.planRow .planOne p,
.planRow .planTwo p {
  font-family: 'Spartan', sans-serif;
  text-align: center;
  font-size: 1.6rem;
  margin: 5% 0%;
}
@media (max-width:1023px) {
  .planRow .planOne p,
  .planRow .planTwo p {
    font-size: 1.3rem;
  }
}
.planRow .buttonParentTwo,
.planRow .buttonParentThree {
  background-color: #757c57;
  border-radius: 10px;
  width: 30%;
  padding: 1.5%;
  text-align: center;
}
@media (max-width:1023px) {
  .planRow .buttonParentTwo,
  .planRow .buttonParentThree {
    padding: 2%;
    width: 40%;
  }
}
@media (max-width:500px) {
  .planRow .buttonParentTwo,
  .planRow .buttonParentThree {
    width: 50%;
  }
}
.planRow .buttonParentTwo a,
.planRow .buttonParentThree a {
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: #fff9ef;
  font-size: 1.5rem;
  font-family: 'Spartan', sans-serif;
}
@media (max-width:1023px) {
  .planRow .buttonParentTwo a,
  .planRow .buttonParentThree a {
    font-size: 1.2rem;
  }
}
@media (max-width:500px) {
  .planRow .buttonParentTwo a,
  .planRow .buttonParentThree a {
    font-size: 1rem;
  }
}
.planRow .buttonParentTwo:hover,
.planRow .buttonParentThree:hover {
  background-color: #B1AD74;
}
.moreSucculents img {
  width: 100%;
  height: 31vh;
  object-fit: cover;
}
@media (max-width:500px) {
  .moreSucculents img {
    height: 15vh;
  }
}
.intro {
  background-color: #fff9ef;
  font-size: 3rem;
  padding: 3% 3% 1% 4%;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.6rem;
  color: #757c57;
}
.meetTheTeam {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  padding: 2%;
  background-color: #fff9ef;
}
.meetTheTeam .person {
  padding: 1%;
  text-align: center;
  width: 25%;
  margin: 2%;
}
@media (max-width:1023px) {
  .meetTheTeam .person {
    width: 35%;
  }
}
.meetTheTeam .person img {
  width: 75%;
  border-radius: 200px;
}
.meetTheTeam .person h3 {
  font-size: 1.5rem;
  font-family: 'Spartan', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 3% 0%;
}
@media (max-width:500px) {
  .meetTheTeam .person h3 {
    font-size: 1rem;
  }
}
.meetTheTeam .person p {
  font-size: 1.5rem;
  font-family: 'Spartan', sans-serif;
  line-height: 2.5rem;
}
@media (max-width:500px) {
  .meetTheTeam .person p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
