html{
    font-size:62.5%;
}


.TopOfPage {
    background-color: @secondAccentColor;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header {
    color: @mainColor;
    font-size: 5rem;
    font-family: @titleFont;
    letter-spacing: .5rem;
    padding: 3%;
}


main {
    .backgroundImg();
    display:flex;
    .centerMain();
    flex-direction: column;
    height: 69vh;
    h2 {
        font-family: @subtitleFont;
        letter-spacing: 1.5rem;
        font-size: 6rem;
        color: black;
        text-align: center;
        width:76%;
        background: rgba(158, 150, 135, 0.25);
    }//closes h2
    p {
        width:75%;
        text-align: center;
        font-family: @titleFont;
        color:black;
        letter-spacing: .2rem;
        line-height: 3rem;
        font-size: 1.5rem;
        padding:0% 3% 1%;
        width:70%;
        background: rgba(158, 150, 135, 0.25);
    }//closes p
}//closes main

.row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:45vh;
    .welcome {
        height: 20vh;
        margin: 0% 1% 1% 2%;
        h2 {
            font-family: @titleFont;
            font-size: 3rem;
            width: 50%;
            padding: 2%;
            color: @mainColor;
        }//closes h2
        p {
            padding: 1% 2%;
            font-family: @mainFont;
            font-size: 1.5rem;
            line-height: 3rem;
        }
        .buttonParent{
            display:flex;
            justify-content: center;
            border:1px solid black;
            margin: 2% 40%;
            padding:1%;
            width:15%;
            a{
                .linkReset();
                color:black;
                font-family: @titleFont;
                font-size: 1.2rem; 
            }
            &:hover {
                background-color: @accentColor;
                border:none;
            }
        }
    }//closes .welcome
    img {
        justify-content: flex-end;
        width:35%;
        height:45vh;
        object-fit: cover;
    }
}//closes row

footer {
    background-color: @mainColor;
    height:9vh;
    .centerNav();
    font-size: 1.5rem;
    color:@secondAccentColor;
}


//////////////////////////// ABOUT PAGE ////////////////////////////

.appSummary {
    background-color: @accentColor;
    height:30vh;
    .centerNav();
    flex-direction: column;
    padding:2% 5%;
    h2 {
        font-family: @subtitleFont;
        font-size: 3rem;
        letter-spacing: 1rem;
        text-transform: uppercase;
        color:@secondAccentColor;
    }
    p {
        font-family: @mainFont;
        color: @secondAccentColor;
        font-size: 1.5rem;
        line-height: 4rem;
        
    }
    h4 {
        font-family:@mainFont;
        color:white;
        font-size: 2rem;
        letter-spacing: .5rem;
    }
}//closes .appSummary

.succulents{
    img{
        .imgRow();
    }
}

.planOne,.planTwo {
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 1% 0% 0%;
    padding:1%;
    h3 {
        font-family: @titleFont;
        font-size:3rem;
    }
    p {
        font-family: @mainFont;
        font-size: 2rem;
        margin:2% 0% 0%;
    }
}

.buttonParentTwo,.buttonParentThree {
    .aboutButtons();
}

.moreSucculents {
    img {
        .imgRow();
    }
}