/* Centering for nav */
.centerNav() {
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

/* Reset for links */
.linkReset() {
    text-decoration: none;
    letter-spacing: .1rem;
}

/* Background Image */
.backgroundImg(){
    background-image: url('./photos/nathan-fertig-U8zsjmKA840-unsplash.jpg');
    background-repeat: no-repeat;
    background-size:100%;
}

/* Border on Main */
.border(){
    border-right: 2px solid white;
    border-left: 2px solid white;
}

/* Centering for Main */
.centerMain(){
    justify-content: center;
    align-items: center;
}

/* Paragraph */
.paragraph(){
    font-family: @mainFont;
    color: @secondAccentColor;
}

/* Image Rows */
.imgRow(){
    width:100%;
    height:31vh;
    object-fit: cover;
}

/* About Buttons */
.aboutButtons(){
    background-color: @mainColor;
    width:20%;
    padding:2%;
    text-align: center;
    margin: 2% 38%;
    a{
        .linkReset();
        color:@secondAccentColor;
        font-size: 2rem;
        font-family: @mainFont;
        @media @mobile {
            font-size: 1rem;
        }//closes media mobile
    }
    &:hover {
        background-color: @accentColor;
    }
}