nav {
    height: 3vh;
    width: 35%;
    margin: 2%;
    display:flex;
    justify-content: space-evenly;
    a {
        .centerNav();
        .linkReset();
        color: black;
        font-size: 1.4rem;
        letter-spacing: .2rem;
        font-family: @mainFont;
        padding: 1.2%;
        width:25%;
        &:hover {
            background-color: @mainColor;
            border-radius: 10px;
            color: white;
        }//closes hover
    }//closes a
}//closes nav