/* Fonts */
@titleFont: 'Playfair Display', serif;
@subtitleFont: 'Anton', sans-serif;
@mainFont: 'Spartan', sans-serif;

/*Colors*/
@mainColor: rgb(117, 124, 87);
@accentColor: #B1AD74;
@secondAccentColor: rgb(255, 249, 239);
@thirdAccentColor: #E5A5A5;

// Media Queries 
@tablet: ~"(max-width:1023px)";
@mobile: ~"(max-width:500px)";
