/* Fonts */
@titleFont: 'Playfair Display', serif;
@subtitleFont: 'Anton', sans-serif;
@mainFont: 'Spartan', sans-serif;
@specialFont: 'Sacramento', cursive;

/*Colors*/
@mainColor: rgb(117, 124, 87);
@accentColor: #B1AD74;
@secondAccentColor: #EEE8AA;
@thirdAccentColor: #E5A5A5;
@bgColor: rgb(255, 249, 239);
